{% extends 'base.html.twig' %}

{% block title %}Edit Auteur{% endblock %}

{% block body %}
    <h1>Edit Auteur</h1>

    {{ include('admin/auteur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_auteur_index') }}">back to list</a>

    {{ include('admin/auteur/_delete_form.html.twig') }}

    {# Symfony\Component\Form\FormRenderer::renderBlock(): Argument #1 ($view) 
    must be of type Symfony\Component\Form\FormView, 
    Symfony\Component\Form\Form given, 
    called in /home/segolene/a-projects/ECF/back/ecf1-projet-bibliotheque/ecf-symfony1/
    ecf-symfony1/var/cache/dev/twig/fe/fe8753e8dc5ad0ad13b37246eaf11cae.php on line 43 #}

{% endblock %}
